.paymentBodyWrapper {
  background-color: #005daa !important;
}
.cardBody {
  background-color: #005daa !important;
  padding: 0 2.143em 1.25em 1.25em !important;
}
.cardLogo {
  margin-right: 0.5em;
}
img.cardLogo {
  vertical-align: middle;
  height: 1.2em;
  margin-top: 1.5em;
  margin-bottom: 1.2em;
  background: white;
}
.inputContainer input,
input {
  height: 28px !important;
  background-color: #213b73 !important;
  border-bottom: white solid 1px !important;
  color: white !important;
  padding-top: 30px !important;
  position: absolute !important;
  z-index: 1 !important;
  left: 0px;
  border-radius: unset !important;
  padding-bottom: 7px;
  padding-left: 10px;
}
.inputContainer input:focus,
input:focus {
  border-bottom: #fef100 solid 2px !important;
  padding-bottom: 7px !important;
}
.error input {
  border-bottom: #f55564 solid 2px !important;
  left: -1px !important;
  padding-bottom: 7px !important;
  z-index: 100 !important;
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #213b73 inset !important;
  -webkit-box-shadow: 0 0 0px 1000px #213b73 inset !important;
  -webkit-text-fill-color: white !important;
}
.header {
  display: none !important;
}
.pageOpen {
  border: none !important;
}
.paymentHeader {
  display: none !important;
}
.paymentHeader .active {
  border: none !important;
}
.right {
  float: left !important;
}
.inputContainer {
  background-color: transparent !important;
  border: none !important;
  height: 72px !important;
  border-radius: 4px !important;
  font-size: 14px !important;
}
.placeHolderLabel {
  display: none !important;
}
.expirationDateCvcholder,
.holder {
  max-width: 100%;
}
.expirationDateCvcholder .holder.cardCvCHolder {
  display: block;
  max-width: 100%;
}
.expirationDateCvcholder .holder.cardCvCHolder .inputContainer {
  display: block;
}
.expirationDateCvcholder
  .holder.cardCvCHolder
  .inputContainer.cvcInput.valid
  ~ .cvcInfoLinkHolder {
  display: none;
}
.expirationDateCvcholder .holder.cardCvCHolder .cvcInfoLinkHolder {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.buttonHolder {
  margin: 0 !important;
  margin-top: 15px !important;
}
.labelContainer {
  font-weight: 700 !important;
  margin-top: 3px !important;
  color: #fff !important;
  opacity: 1 !important;
  position: absolute;
  z-index: 2;
}
.labelContainer label {
  font-size: 12px !important;
  display: inline-block !important;
  margin-top: 8px !important;
  color: #d3d8e2;
  font-weight: 600;
}
.labelContainer:before {
  content: "" !important;
  width: 0px !important;
  height: 61px !important;
  display: block !important;
  position: absolute !important;
  top: -3px !important;
  left: -12px !important;
  z-index: 1 !important;
}
.labelContainer:after {
  content: "" !important;
  width: 0px !important;
  height: 61px !important;
  display: block !important;
  background-color: #005daa;
  position: absolute !important;
  top: -3px !important;
  left: -12px !important;
  z-index: 1 !important;
}
.commandButton {
  display: none;
  font-weight: 700 !important;
  min-width: 230px !important;
  font-size: 17px;
  padding: 5px 0 !important;
  color: #005daa;
  background-color: #fff !important;
  height: 100% !important;
}
.cvcInfoLink {
  display: none;
}
.cardBody .recaptchaContainer,
.twoCardContainer .recaptchaContainer {
  padding-top: unset !important;
}
